@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    display: block;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 20px;
}

/*class for button*/
.btn {
    display: inline-flex;
    padding: 14px 43px;
    background-color: #000;
    border-radius: 4px;
}

.btn a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}
/*****/

/*class for title*/
.title-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    line-height: 75px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.title-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: #000;
}

.title-h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
}
/*****/

/*class for main txt*/
.main-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}

.section-1 {
    display: block;
    padding: 0 0 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
    letter-spacing: 4.5px;
    text-decoration: none;
    color: #000000;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #747474;
}

.section-1-title {
    padding: 120px 0 64px;
    margin: 0 auto;
    max-width: 830px;
}

.section-1-img {
    padding-bottom: 120px;
}

.section-2 {
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/2.2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 0;
}

.section-2-wrap {
    display: flex;
    flex-direction: column;
}

.section-2-wrap-title {
    /*display: flex;*/
    margin-bottom: 16px;
    color: #ffffff;
}

.section-2-wrap-txt {
    margin-bottom: 32px;
    color: #fff;
    opacity: 0.5;
}

.section-2-wrap-btn {
    display: inline-flex;
    gap: 32px;
}

.primary-btn {
    background-color: #fff;
}

.primary-btn a {
    color: #000;
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid #fff;
}

.section-3 {
    display: block;
    padding: 116px 0 60px;
}

.section-3-title {
    margin: 0 auto 20px;
    text-align: center;
}

.section-3-txt {
    margin: 0 auto 60px;
    max-width: 560px;
    text-align: center;
}

.section-3-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
}

.section-3-wrap-item-top {
    display: flex;
    align-self: flex-start;
    gap: 32px;
}

.section-3-wrap-item-bottom {
    display: flex;
    align-self: flex-end;
}

.section-4 {
    padding: 60px 0;
}

.section-4-wrap {
   display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-4-wrap-cont {
    max-width: 517px;
}

.section-4-wrap-cont-title {
    margin-bottom: 24px;
}





